<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Warpers</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/Warpers.png" rel="icon">
  <link href="assets/img/Warpers.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" modelType="text/css"/>
  <script modelType="application/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script modelType="application/javascript" async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href="assets/css/icofont.css" rel="stylesheet">
  <link href="assets/css/boxicons.css" rel="stylesheet">
  <link href="assets/css/owl.carousel.css" rel="stylesheet">
  <link href="assets/css/venobox.css" rel="stylesheet">
  <link href="assets/css/remixicon.css" rel="stylesheet">
  <link href="assets/css/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link type="text/css" href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      <a href="index.html" ><img src="assets/img/Warpers.png" alt="" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <a href="signup.html" class="get-started-btn scrollto" style="margin-right:-200px;">Login</a>
      <a href="signup.html" class="get-started-btn scrollto">Register</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Warp your time<span>.</span></h1>
          <h2>with the lowest price</h2>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Features Section ======= -->
    <section id="about" class="features">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About us</h2>
        </div>

        <div class="row">
          <div class="image col-lg-6" style='background-image: url("assets/img/listen.jpg");' data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-money"></i>
              <h4>Save your money</h4>
              <p>Save your money dividing the payment of an subscription by a group of people.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-time"></i>
              <h4>Save your time</h4>
              <p>He do all for you, you just have to find your group.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-spotify"></i></div>
              <h4><a href="">Spotify</a></h4>
              <p>Subscription Spotify premmium</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><img src="assets/img/hbo.svg" class="icons" alt="Logo" /></div>
              <h4><a href="">HBO</a></h4>
              <p>Subscription HBO premmium</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><img src="assets/img/netflix.svg" class="icons" alt="Logo" /></div>
              <h4><a href="">Netflix</a></h4>
              <p>Subscription Netflix premmium</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><img src="assets/img/musica.svg" class="icons" alt="Logo" /></div>
              <h4><a href="">Apple Music</a></h4>
              <p>Subscription Apple Music premmium</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-amazon"></i></div>
              <h4><a href="">Prime Video</a></h4>
              <p>Subscription Prime Video premmium</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><img src="assets/img/tv-da-apple.png" class="icons" alt="Logo" /></div>
              <h4><a href="">Apple TV</a></h4>
              <p>Subscription Apple TV premmium</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->
    <hr>
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients" style="">
      <div class="container" data-aos="zoom-in">

        <div class="owl-carousel clients-carousel">
          <img src="src/main/webapp/WEB-INF/templates/assets/img/amazontv.png" alt="amazon tv icon">
          <img src="assets/img/applemusic.jpeg" alt="apple music icon">
          <img src="assets/img/appletv.jpg" alt="apple tv icon">
          <img src="assets/img/disney.png" alt="disney tv icon">
          <img src="assets/img/hbo.png" alt="hbo tv icon">
          <img src="assets/img/netflix.png" alt="netflix tv icon">
          <img src="assets/img/spotify.png" alt="spotify music icon">
        </div>

      </div>
    </section><!-- End Clients Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>2020</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

  <!-- JS Files -->
  <script src="assets/js/owl.carousel.js"></script>
  <script src="assets/js/venobox.js"></script>
  <script src="assets/js/jquery.waypoints.js"></script>
  <script src="assets/js/counterup.js"></script>
  <script src="assets/js/aos.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>