<script>
    window.addEventListener('load',
        function() {
            if(localStorage.getItem('log')){
                window.location.replace("https://warpers.herokuapp.com/userpage/profile");
            }
        }, false);
</script>
<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Warpers</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/Warpers.png" rel="icon">
  <link href="assets/img/Warpers.png" rel="apple-touch-icon">



</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      <a href="index.html" ><img src="assets/img/Warpers.png" alt="" class="img-fluid"></a>
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <link href="assets/css/owl.carousel.css" rel="stylesheet">

        <!-- Main CSS File -->
        <link href="assets/css/style.css" rel="stylesheet">
      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
          <div class="row mt-5">
    
              <div class="col-lg-12 mt-5 mt-lg-0">
                  <button onclick="showLogin();" class="get-started-btn scrollto" id="btnlogin" style="">Login</button>
                  <button onclick="showRegister();" class="get-started-btn scrollto" id="btnregister" style="width: 49%;">Register</button>
              </div>
          </div>
          <div class="row mt-5" id="register" style="display: none;">
  
            <div class="col-lg-12 mt-5 mt-lg-0">

                <div class="form-row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="firstName" class="form-control" id="firstName" placeholder="First Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validate"></div>
                  </div>
                  <div class="col-md-6 form-group">
                      <input type="text" name="lastName" class="form-control" id="lastName" placeholder="Last Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                      <div class="validate"></div>
                    </div>
                  <div class="col-md-6 form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validate"></div>
                  </div>
                  <div class="col-md-6 form-group">
                      <input type="password" class="form-control" name="password" id="password" placeholder="Password" data-rule="minlen:4" data-msg="Please enter a valid email" />
                      <div class="validate"></div>
                  </div>
                  <div class="col-md-6 form-group">
                      <input type="text" class="form-control" name="country" id="country" placeholder="Country" data-msg="Please enter a valid email" />
                      <div class="validate"></div>
                  </div>
                  <div class="col-md-6 form-group">
                    <input type="number" class="form-control" name="phone" id="phone" placeholder="Phone" data-msg="Please enter a valid email" />
                    <div class="validate"></div>
                </div>
                </div>
                <div class="mb-3">
                  <div class="spinner-border" role="status" id="loading" style="display: none;">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <div class="alert alert-danger" role="alert" id="errormessage" style="display:none;">
                    An error occurred!
                  </div>
                  <div class="alert alert-success" role="alert" id="remessage" style="display:none;">
                    Register successfuly!
                  </div>
                </div>
                <div class="text-center"><button class="get-started-btn" onclick="register();">Register</button></div>
  
            </div>
  
          </div>
  
          <div class="row mt-5" id="login" style="text-align: center !important;">
  
              <div class="col-lg-12 mt-5 mt-lg-0" >

                  <div class="form-row">
                      <div class="col-md-12 form-group">
                          <input type="email" name="email2" class="form-control" id="email2" placeholder="Email" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                          <div class="validate"></div>
                      </div>
                      <div class="col-md-12 form-group">
                          <input type="password" name="password2" class="form-control" id="password2" placeholder="Password" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                          <div class="validate"></div>
                      </div>
                  </div>
                <div class="mb-3">
                  <div class="spinner-border" role="status" id="loading" style="display: none;">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <div class="alert alert-danger" role="alert" id="errormessage2" style="display:none;">
                    Password or email incorret!
                  </div>
                  <div class="alert alert-success" role="alert" id="remessage2" style="display:none;">
                    Login successfuly!
                  </div>
                </div>
                  <div class="text-center"><button class="get-started-btn" onclick="login();">Login</button></div>
    
              </div>
    
            </div>
  
        </div>
      </section><!-- End Contact Section -->
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    
    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>2020</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/js/owl.carousel.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>
  <script>
    function showLogin() {
        $("#register").css('display', 'none');
        $("#login").css('display', 'block');
        $("#btnlogin").css('background-color', '#ff5757');
        $('#btnregister').css('background-color', '#fff');
        $('#btnregister').css('color', '#ff5757');
        $('#btnlogin').css('color', '#fff');
    }
    function showRegister() {
        $("#register").css('display', 'block');
        $("#login").css('display', 'none');
        $("#btnlogin").css('background-color', '#fff');
        $('#btnregister').css('background-color', '#ff5757');
        $('#btnregister').css('color', '#fff');
        $('#btnlogin').css('color', '#ff5757');
    }
</script>
</body>

</html>