<script>
  window.addEventListener('load',
          function() {
            if(!localStorage.getItem('log')){
              console.log(localStorage.getItem('log'));
              window.location.replace("https://warpers.herokuapp.com/");
            }
          }, false);
</script>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Warpers | Profile</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
  <link href="assets/css/owl.carousel.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet" type="text/css">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
       <img src="../assets/img/1.png" alt="profile picture" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="profile" id="userName"><script>document.getElementById("userName").innerHTML = localStorage.getItem('firstName');</script></a></h1>
     

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="profile"><i class="bx bx-dna"></i> <span>Your profile</span></a></li>
          <li ><a href="subscriptions"><i class="bx bx-movie"></i> <span>Your subscriptions</span></a></li>
          <li ><a href="settings"><i class="bx bx-archive"></i> Account Settings</a></li>
          <li><a href="#" onclick='localStorage.clear(); window.location.replace("https://warpers.herokuapp.com/");'><i class="bx bx-power-off"></i> Logout</a></li>
        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->

 
  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Your profile</h2>
           </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
        <img src="assets/img/1.png" height=100% width=100% alt="profile picture">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Profile information</h3> <br><br>
            <p>Check-out all the information we have regarding your account. To change the information available, go to Account Settings.</p> <br><br>
                       
            <div class="row">
              <div class="col-lg-12">
                <ul>
                  <li id="lname"> <script>document.getElementById("lname").innerHTML = '<i class=\"icofont-rounded-right\"></i> <strong>Username:</strong>' + ' ' + localStorage.getItem('firstName');</script> </li>
                  <li id="lemail"><script> document.getElementById("lemail").innerHTML = '<i class=\"icofont-rounded-right\"></i> <strong>Email:</strong>' + ' ' + localStorage.getItem('email');</script></li>
                  <li id="lphone"><script>document.getElementById("lphone").innerHTML = '<i class=\"icofont-rounded-right\"></i> <strong>Phone:</strong>' + ' ' + localStorage.getItem('phone');</script></li>
                  <li id="lcountry"> <script>document.getElementById("lcountry").innerHTML = '<i class=\"icofont-rounded-right\"></i> <strong>Location:</strong>' + ' ' + localStorage.getItem('country');</script></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Patent pending <strong><span>  WARPER</span></strong>
      </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="assets/js/owl.carousel.js"></script>


  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>


</body>

</html>