<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Warpers | Settings</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
  <link href="assets/css/owl.carousel.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet" type="text/css">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
       <img src="assets/img/1.png" alt="profile picture" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="profile">Username</a></h1>
     

      <nav class="nav-menu">
        <ul>
          <li><a href="profile"><i class="bx bx-dna"></i> <span>Your profile</span></a></li>
          <li ><a href="subscriptions"><i class="bx bx-movie"></i> <span>Your subscriptions</span></a></li>
          <li class="active"><a href="settings"><i class="bx bx-archive"></i> Account Settings</a></li>
          <li><a href="#"><i class="bx bx-power-off"></i> Logout</a></li>
        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Settings</h2>
          <p>Manage your account settings</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-4 mt-5 mt-lg-0 d-flex align-items-stretch">
              <ul>
                <li>
                  <button class="btnsetting btn" onclick="showName()" id="btnname" style="background-color: #ff5757; color:#fff;">Change name</button>
                </li>
                <li>
                  <button class="btnsetting btn" onclick="showEmail()" id="btnemail">Change email</button>
                </li>
                <li>
                  <button class="btnsetting btn" onclick="showPassword()" id="btnpassword">Change password</button>
                </li>
              </ul>
          </div>

          <div class="col-lg-8 mt-5 mt-lg-0 align-items-stretch" id="cname">
            <form action="" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="name">New Name</label>
                  <input type="text" name="name" class="form-control" id="name" placeholder="New name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Save success!</div>
              </div>
              <div class="text-center"><button type="submit">Save</button></div>
            </form>
          </div>
          <div class="col-lg-8 mt-5 mt-lg-0 align-items-stretch" id="cemail" style="display: none !important;">
            <form action="" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="name">New Email</label>
                  <input type="text" name="email" class="form-control" id="email" placeholder="New email" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Save success!</div>
              </div>
              <div class="text-center"><button type="submit">Save</button></div>
            </form>
          </div>
          <div class="col-lg-8 mt-5 mt-lg-0 align-items-stretch" id="cpassword" style="display: none !important; ">
            <form action="" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="name">New Password</label>
                  <input type="password" name="password" class="form-control" id="password" placeholder="New password" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                  
                </div>
                <div class="form-group col-md-12">
                  <label for="name">Confirm Password</label>
                  <input type="password" name="cpassword" class="form-control" id="cpassword" placeholder="Confirm password" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                  
                </div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Save success!</div>
              </div>
              <div class="text-center"><button type="submit">Save</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">  
    <div class="container">
      <div class="copyright">
        &copy; Patent pending <strong><span>  WARPER</span></strong>
      </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/js/owl.carousel.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>