<script>
  window.addEventListener('load',
          function() {
            if(!localStorage.getItem('log')){
              console.log(localStorage.getItem('log'));
              window.location.replace("https://warpers.herokuapp.com/");
            }
          }, false);
</script>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Warpers | Subscriptions</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/Warpers.png" rel="icon">
  <link href="../assets/img/Warpers.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
  <link href="assets/css/owl.carousel.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet" type="text/css">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
       <img src="../assets/img/1.png" alt="profile picture" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="profile" id="userName"><script>document.getElementById("userName").innerHTML = localStorage.getItem('firstName');</script></a></h1>
     

      <nav class="nav-menu">
        <ul>
          <li><a href="profile"><i class="bx bx-dna"></i> <span>Your profile</span></a></li>
          <li class="active"><a href="subscriptions"><i class="bx bx-movie"></i> <span>Your subscriptions</span></a></li>
          <li ><a href="settings"><i class="bx bx-archive"></i> Account Settings</a></li>
          <li><a href="#" onclick='localStorage.clear(); window.location.replace("https://warpers.herokuapp.com/");'><i class="bx bx-power-off"></i> Logout</a></li>
        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->
    
    <!-- ======= Subscriptions Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Subscriptions</h2>
          <p>Make <strong>new</strong> subscriptions, access your <strong>subscribed platforms</strong> or <strong>cancel</strong> a subscription anytime, anywhere.</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-md-12" >

            <div class="col-md-3" style="display: inline-block;margin: 20px;">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/img/netflixuser.png" alt="netflix subscription">
                <div class="card-body">
                  <h5 class="card-title"><strong>NETFLIX</strong></h5>
                  <a href="#" id="netflix" onclick="addNetflix()" class="btn btn-subscribe">Subscribe</a>
                </div>
              </div>
            </div>
        
            <div class="col-md-3" style="display: inline-block;margin: 20px;">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/img/spotifyuser.png" alt="spotify subscription">
                <div class="card-body">
                  <h5 class="card-title"><strong>SPOTIFY</strong></h5>
                  <a href="cancelsubscription" id="spotify" onclick="addSpotify()" class="btn btn-subscribe">Subscribe</a>
                </div>
              </div>
            </div>

            <div class="col-md-3" style="display: inline-block;margin: 20px;">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/img/hbo-gouser.png" alt="spotify subscription">
                <div class="card-body">
                  <h5 class="card-title"><strong>HBO</strong></h5>
                  <a href="cancelsubscription" id="hbo" onclick="addHbo()" class="btn btn-subscribe">Subscribe</a>
                </div>
              </div>
            </div>

            <div class="col-md-3" style="display: inline-block;margin: 20px;">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/img/huluuser.jpg" alt="hulu subscription">
                <div class="card-body">
                  <h5 class="card-title"><strong>HULU</strong></h5>
                  <a href="subscribe" id="hulu" onclick="addHulu()" class="btn btn-subscribe">Subscribe</a>
                </div>
                </div>
</div>            
            <div class="col-md-3" style="display: inline-block;margin: 20px;">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/img/primeuser.png" alt="amazon subscription">
                <div class="card-body">
                  <h5 class="card-title"><strong>AMAZON PRIME</strong></h5>
                  <a href="subscribe" id="amazon" onclick="addAmazon()" class="btn btn-subscribe">Subscribe</a>
                </div>
              </div>
            </div>

            <div class="col-md-3" style="display: inline-block;margin: 20px;">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/img/appleuser.png" alt="apple subscription">
                <div class="card-body">
                  <h5 class="card-title"><strong>APPLE TV</strong></h5>
                  <a href="subscribe" id="appletv" onclick="addAppletv()" class="btn btn-subscribe">Subscribe</a>
                </div>
              </div>
            </div>

            <div class="col-md-3" style="display: inline-block;margin: 20px;">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/img/disney-plususer.jpg" alt="disney subscription">
                <div class="card-body">
                  <h5 class="card-title"><strong>DISNEY PLUS</strong></h5>
                  <a href="subscribe" id="disney" onclick="addDisney()" class="btn btn-subscribe">Subscribe</a>
                </div>
              </div>
            </div>

            <div class="col-md-3" style="display: inline-block;margin: 20px;">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/img/applemusicuser.png" alt="apple music subscription">
                <div class="card-body">
                  <h5 class="card-title"><strong>APPLE MUSIC</strong></h5>
                  <a href="subscribe" id="applem" onclick="addApplem()" class="btn btn-subscribe">Subscribe</a>
          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Patent pending <strong><span>  WARPER</span></strong>
      </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="assets/js/owl.carousel.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>


</body>

</html>